/* Styles par défaut pour tous les éléments */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-connexion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

.main-connexion h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.main-connexion h1::after {
    content: "";
    position: absolute;
    height: 15px;
    left: 10px;
    top: 25px;
    background-color: #C4A2FC;
    width: 99%;
    z-index: -1;
}

.container-connexion {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-connexion h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 100px;
}

.container-connexion form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-connexion input {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 15px;
}

.container-connexion input:not(:first-child) {
    margin-bottom: 50px;
}

.container-connexion span {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: gray;
    cursor: pointer;
}

.container-connexion form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.footer-connexion {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    bottom: 70px;
}

.img-rs {
    width: 80px;
    height: 40px;
}

.img-ep {
    width: 100px;
    height: 35px;
}

.img-esiee {
    width: 120px;
    height: 30px;
}

.img-aixmars {
    width: 140px;
    height: 30px;
}

.reset-passw-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.reset-passw-btn button {
    max-width: 45%;
}

.reset-passw-btn button:first-child {
    background-color: red;
}

/* Gestion pour les petits écrans */
@media (max-width: 600px) {
    .main-connexion h1 {
        font-size: 0.2rem;
    }

    .container-connexion {
        width: 90%;
        max-width: 200px;
        padding: 40px;
    }

    .footer-connexion {
        bottom: 50px;
    }

    .img-rs {
        width: 20%;
        height: auto;
    }

    .img-ep {
        width: 20%;
        height: auto;
    }

    .img-esiee {
        width: 20%;
        height: auto;
    }

    .img-aixmars {
        width: 140px;
        height: 30px;
    }
}

@media (max-width: 720px) {
    .main-connexion h1 {
        font-size: 1.5rem;
    }

    .main-connexion h1::after {
        top: 15px;
        height: 10px;
    }

}



@media (max-width: 400px) {
    .main-connexion h1 {
        font-size: 1.2rem;
    }

    .main-connexion h1::after {
        top: 12px;
        height: 7px;
    }

    .container-connexion h2 {
        font-size: 1.5rem;
    }

}