/* Fichier de style de la page de gestion des utilisateur et composant d'affichage */


.section-gestion-utilisateur {
    position: relative;
    width: 100%;
    max-width: 1800px;
    margin: 30px auto;
    border-radius: 20px;
    font-family: monospace;
}

.titre_page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
    font-family: monospace;
}

.div-import-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.btn-import-user {
    border-radius: 40px 20px 40px 20px;
    border: 1px solid #000000;
    background-color: #C4A2FC;
    padding: 10px;
    color: #ffffff;
    min-width: 140px;
    font-weight: 600;
    font-family: monospace;
    cursor: pointer;
}

.btn-ajout-classe {
    border-radius: 40px 20px 40px 20px;
    border: 1px solid #000000;
    background-color: #C4A2FC;
    padding: 10px;
    color: #ffffff;
    min-width: 140px;
    font-weight: 600;
    font-family: monospace;
    cursor: pointer;
    margin-right: 50px;
}


.main-container-suivi-utilisateur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fcfaff;
    margin: 00px 100px 100px 100px;
    border-radius: 20px;
    border: 1px solid black;
    /* min-height: 200px; */
    position: relative;
}

.main-container-suivi-utilisateur:not(:last-child) {
    margin-right: -50px;
}

.div-header-suivi-utilisateur {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.div-header-suivi-utilisateur h1 {
    width: 80%;
    font-size: 16px;
    z-index: 1;
    position: relative;
}

.div-header-suivi-utilisateur h1::after {
    position: absolute;
    width: 15px;
    height: 5px;
    left: 5px;
    top: 10px;
    background-color: #C4A2FC;
    content: "";
    z-index: -1;
}

.div-header-suivi-utilisateur img {
    justify-content: end;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.container-suivi-utilisateur {
    margin-top: 45px;
    width: 100%;
}

.div-ligne-suivi-utilisateur {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.div-ligne-suivi-utilisateur:not(:last-child) {
    border-bottom: 1px solid gray;
}


.div-ligne-suivi-utilisateur .img-modif {
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: end;
    transform: rotate(-90deg);
    position: absolute;
    right: 40px;
}

.div-ligne-suivi-utilisateur .img-suppr {
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 15px;
}

.div-nom-utilisateur {
    display: flex;
    margin-left: 15px;
}

.div-nom-utilisateur p:not(:last-child) {
    margin-right: 20px;
}

.img-manage-section {
    margin-left: 20px;
}

.main-container {
    flex: 1;
}

.msg-aucun-apprenant {
    color: red;
    font-weight: 600;
    margin-right: 50px;
    border: 1px solid;
    border-radius: 12px;
    padding: 10px;
}

@media (max-width: 992px) {
    .main-gestion-utilisateur {
        flex-direction: column;
    }

    .main-container-suivi-utilisateur {
        width: calc(100% - 200px);
    }

    .main-container-suivi-utilisateur:not(:last-child) {
        margin-right: none;
    }
}


@media (max-width: 650px) {
    .div-import-user{
        flex-direction: column;
    }

    .btn-ajout-classe{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .titre_page span{ 
        font-size: 25px;
    }
}