/* FICHIER DE STYLE : containerBlocCompetence.css : affichage bloc/comp page de création de titre */

.div_container_bloc_comp {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 10px;
}

.div_bloc {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.div_bloc h2 {
    display: flex;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 10px;
    font-style: italic;
}

.div_texte_bloc {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #656565;
    color: white;
    box-shadow: 4px 4px 4px rgb(200, 200, 200);
}



.div_texte_competence {
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #E1E1E1;
    box-shadow: 4px 4px 4px rgb(200, 200, 200);
}

.div_texte_competence p {
    margin: 0;
}