.main_container_suivi_livret {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fcfaff;
    margin: 0px 100px 100px 100px;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
}

.main_container_suivi_livret:not(:last-child) {
    margin-right: -50px;
}

.section-gestion-livret{
    position: relative;
    width: 100%;
    max-width: 1800px;
    margin: 30px auto;
    border-radius: 20px;
    overflow: hidden;
    font-family: monospace; 
}

.div_header_suivi_livret {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.div_header_suivi_livret h1 {
    width: 90%;
    font-size: 16px;
    z-index: 1;
    position: relative;
}

.div_header_suivi_livret img {
    justify-content: end;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.container-suivi-livret{
    margin-top: 45px;
    width: 100%;
}

.div_ligne_suivi_livret{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.div_ligne_suivi_livret:not(:last-child){
    border-bottom: 1px solid gray;
}

.div_ligne_suivi_livret img{
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: end;
    transform: rotate(-90deg);
    position: absolute;
    right: 20px;
}

.div_body_suivi_livret h1::after{
    position: absolute;
    width: 15px;
    height: 5px;
    left: 5px;
    top: 10px;
    background-color: #C4A2FC;
    content: "";
    z-index: -1;
}

.div_nom_livret{
    display: flex;
    margin-left: 15px;
}

.div_nom_livret p:not(:last-child){
    margin-right: 20px;
}