.main_gestion_formation {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    font-family: monospace;
}

.div_container_formation{
    height: 100%;
    border: 1px solid;
    border-radius: 12px;
    position: relative;
}

.div_header_info_formation {
    padding: 10px;
}

.img_manage_bloc_info_formation{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.div_info_formation {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div_info_formation h2 {
    position: relative;
    z-index: 1;
}

.div_container_bloc_comp {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 10px;
}

.div_bloc {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.div_bloc h2 {
    display: flex;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 10px;
    font-style: italic;
}

.div_texte_bloc {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #656565;
    color: white;
    box-shadow: 4px 4px 4px rgb(200, 200, 200);
}

.div_titre_competence{
    font-weight: 700;
    font-size: 16px;
}

.div_texte_competence {
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #E1E1E1;
    box-shadow: 4px 4px 4px rgb(200, 200, 200);
}

.div_texte_competence p {
    margin: 0;
}


@media (max-width: 576px) {
    .div_info_formation h2{
        font-size: 14px;
    }

    .img_manage_bloc_info_formation{
        top: 20px;
        right: 10px;
    }
}