.footer {
    position: absolute;
    bottom: 0;
    height: 150px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_container_footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.div_nav_footer{
    border-bottom: 1px solid;
}

.h3_titre_site {
    height: 100%;
    display: flex;
    position: relative;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    z-index: 1;
    min-width: 40%;
    align-items: center;
    padding-left: 50px;
}

.h3_titre_site::after {
    content: "";
    background-color: #C4A2FC;
    height: 7px;
    margin-left: 5px;
    position: absolute;
    z-index: -1 !important;
    width: 290px;
    margin-top: 15px;
}

.nav_footer {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    min-height: 50px;
}

.nav_footer div:not(:last-child){
    margin-right: 50px;
}


.div_pub_footer{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    min-height: 50px;
}

.div_realisation {
    width: 50%;
    display: flex;
    justify-content: start;
}

.div_pub{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: end;
}

.div_pub img{
    margin-right: 50px;
}